{% extends "account/base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Register" %}{% endblock %}

{% block inner %}

<div class="auth-form-light text-left py-5 px-4 px-sm-5">
  <div class="brand-logo">
    <img src="{% static 'images/logo.svg' %}" alt="logo">
  </div>
  <h4>{% translate "Register" %}</h4>
  <form class="pt-3 signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mt-4">
        <button class="btn btn-block btn-success btn-lg font-weight-medium auth-form-btn" type="submit">{% translate "Sign Up" %} &raquo;</button>
      </div>            
  </form>
  <div class="text-center mt-4 font-weight-light">
    {% blocktranslate %}Already have an account? <a href="{{ login_url }}" class="text-primary">Login{% endblocktranslate %}</a>
  </div>
</div>

{% endblock inner %}
