{% extends "main_page.html" %}
{% load static %}

{% block innercontent %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="d-flex justify-content-between col-12 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">{{ curr_module.title }}</h3>
                {% if quiz %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#quizModal">
                    Take Quiz
                </button>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      <!-- course-content -->
      {{ curr_module.content|safe }}
    </div>
</div>

{% endblock innercontent %}

{% block modal %}
<!-- Modal for taking Quiz -->
{% if quiz %}
<div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="quizModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title font-weight-bold" id="quizModalLabel">{{ quiz.title }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ quiz.instructions }}
            {% if quiz_attempt %}
            <div class="row">
                <div class="col-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="ps-0">Date Attempted</th>
                                        <th class="text-right">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="ps-0">{{ quiz_attempt.get_date_attempted }}</td>
                                        <td class="text-right">{{ quiz_attempt.score }}%</td>
                                        {% if quiz_attempt.passed %}
                                        <td class="text-right">
                                            <div class="badge badge-success">Passed</div>
                                        </td>
                                        {% else %}
                                        <td class="text-right">
                                            <div class="badge badge-danger">Failed</div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="#" method="POST">
            {% csrf_token %}
            {% if quiz_attempt %}
            <button type="submit" name="take_or_retake" value="retake" class="btn btn-primary">Retake Quiz</button>
            {% else %}
            <button type="submit" name="take_or_retake" value="take" class="btn btn-primary">Take Quiz</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock modal %}
